header{
  text-align: left;
  font-size: 11pt;
  color: #808080d9;
  line-height: 20px;
  p{
    letter-spacing: 0.8px;
  }
  span {
    color: tomato;
    font-weight: bold;
  }
  .counter {
    font-weight: bold;
    color: grey;
  }
}

